header {
  padding: 32px 8px; 
}

main {
  section {
    padding: 64px 8px;

    &:nth-child(odd) {
      background-color: darken($color-link, 25%);
      color: $color-lighter;
    }
  }
}

footer {
  background-color: $color-dark;
  color: $color-lighter;
  padding: 24px 8px 32px;

  hr {
    border-top-color: rgba(255, 255, 255, .2);
  }

  .footer__end {
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding-top: 16px;
  }
}

@media screen and (min-width: $screen-tablet) {
  header {
    background: url(../images/background.webp) center center / cover no-repeat;
  }

  main {
    section {
      padding: 96px 8px;
    }
  }
}
