.navbar {
  line-height: 1;

  .navbar__logo {
    &:hover {
      color: inherit !important;
    }

    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  a:any-link {
    color: $color-darker;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 200ms ease;

    &:hover {
      color: $color-link;
    }
  }
}
