#team {
  .profile__image {
    border: 1px solid $color-dark;
    border-radius: 50%;
  }
}

@media screen and (min-width: $screen-tablet) {
  #team {
    background: darken($color-link, 25%) url(../images/background-robson-mello.webp) center center / cover no-repeat;
  }
}
